.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    background: black;

}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #dc2626;
    height: 8px;
    border-radius: 40px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b91c1c;
    border-radius: 40px;
    transition: all 1s ease-in-out;
}